.cproject
.project
.pydevproject
.sconsign.dblite

*.pyc
*.suo

.settings/
.localhistory/
Dbg/
Opt/

*/Temp/
*/TestResults/

*/.svn/
.svn/
bin/
Bin/
obj/
_ReSharper.CSharp/
*.opensdf
*.sdf
/CSharp/CSharp.sln.ide
/Library
/CSharp60Support/compilation log.txt
/CSharp/CSharp.VC.opendb
/Log
/Temp
/Logs
/CSharp60Support/compilation.log
/.vs
/.vs/
/Tools/MongoDB
/Excel/md5.txt
/Release
.idea/
/Logs
/Assets/StreamingAssets/
/netcoreapp2.0
/Assets/StreamingAssets.meta
.DS_Store
.vs/
.objs/
/.gradle
/*.user
/UserSettings/EditorUserSettings.asset
/ProjectSettings/VersionControlSettings.asset
/ProjectSettings/PackageManagerSettings.asset
/*.vsconfig
packages-lock.json